<div class="add-participant-activity-wrapper">
  <div class="add-participant-activity-form">

    <%= simple_form_for( activity.becomes( Participant::Activity ),
                         url: participant_activities_path( activity.participant,
                                                           activity),
        remote: true
        ) do |a| %>

    <div class="form-inputs">
    <h2>Title</h2><br/> <%= a.text_field( :title ) %>
    <h2>Description</h2>
    <%= a.hidden_field :type %>
    <%= a.text_area( :description ) %>
    <h2>Completed On</h2>
    <%= a.text_field( :completed_on, class: "completed_on", id: "completed_on") %>
    </div>
    <h2>Consultant</h2>
    <% @consultants = Participant.where(consultant: true ) %>
    <%= select_tag "participant_activity[lead_consultant_id]", options_from_collection_for_select(@consultants, "id", "name",activity.lead_consultant_id), include_blank: true %><br/><br/>
     
    <%= a.submit "Create", class: ["btn","btn-primary"] %>
    <%# TODO: Cancel %>
    <% end %>
  </div>

  <button type="button" class="btn btn-primary btn-add-participant-activity">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Activity
  </button>

</div>
