<!--<h1 class="syllabus_project">Course Syllabus &amp; Design Project</h1>-->
<h1 class="syllabus_project">Projects</h1>
<div>
      <ul>
        <% @participant.projects.each do |a| %>
        <li class="project">
          <h2><strong><%= a.type.label %></strong></h2> <%= link_to "[x]", project_url(a), :method => :delete, remote: true, confirm: "Really delete this?" %><br/>
          <%= a.description %>&nbsp;&nbsp;[ <%= @participant.projects.last.status.label %> ]
        </li>
        <% end %>
      </ul>

    <% if @participant.projects.size == 0 %>
      <p class="note">None.</p>
    <% end %>

    <div id="add-project-form">
    <%= form_for @participant, remote: true do |f| %>
      <%= f.fields_for :projects, @participant.projects.build do |o| %>
      <h2>Description</h2><br/> <%= o.text_field( :description ) %><br/>
      <h2>Project Type</h2><br/><div style="float: left;"><%= o.select( :project_type_id, ProjectType.all.collect {|a| [a.label, a.id]}) %></div><br/>
      <h2>Project Status</h2><br/><div style="float: left;"><%= o.select( :project_status_id, ProjectStatus.all.collect {|a| [a.label, a.id]}) %></div><br/>
      <% end %>
      <%= f.submit "Create" %>
    <% end %>
    </div>

    <div class="button_container add">
      <%= link_to "+ Project", '#', :id => "add-project-link", :class => 'boxy' %>
    </div>

</div>

<!--
<h1 class="individual_project">Individual Project</h1>
<div>
  <p class="note">None.</p>
</div>
-->
