<tr><td>

<h1 class="title"><%= registration.seminar.title %></h1>
<p class="date details"><%= raw registration.seminar.formatted_timespan %></p>
<p class="description details"><%= registration.seminar.description %></p>

<p class="destroy details">
  <% if registration.confirmed? %>
    <%= link_to 'Cancel Registration', registration, :method => :delete, :remote=>true, :class=>'delete-registration' %>
    <%#= link_to 'Cancel Registration', '#', :class => 'delete-registration-trigger' %>
  <% elsif registration.pending? %>
    <%#= link_to 'Cancel Request', '#', :class => 'delete-registration-trigger' %>
    <%= link_to 'Cancel Request', registration, :method => :delete, :remote=>true, :class=>'delete-registration' %>
  <% end %>
</p>

</td></tr>
