<section class="seminar-listing <%= css_class %>">

  <h1><%= title %></h1>

  <%= form_tag( {}, :url => { :action => 'create', :method => 'post' }, :format => :json, :remote => true ) do %>
  
  <table>
    <% if seminars && seminars.size > 0 %>
      <%= render :collection => seminars, :partial => "new_registration" %>
    <% else %>
      <tr><td><%= no_seminars_message %></td></tr>
    <% end %>
  </table>

  <%= submit_tag "Register" %>

  <% end %>
</section>
