

<section class="dialog" id="seminar-listing" style="width: 700px;">

<h1 style="width: 687px;">F12 Teaching Seminars</h1>


<ul>
<li><strong>Enrolled Seminars</strong></li>
<% if @registrations.size <= 0 %>
<li style="margin-left: 20px; margin-bottom: 20px;">You are not enrolled in any seminars</li>
<% end %>
<% @registrations.each do |registration| %>
<%= form_tag('/registrations/'+registration.id.to_s, :method => :delete, :id => "registrations") do %>
<li class="seminar">
<%#= check_box_tag 'registrations['+registration.seminar.id.to_s+']', '1', true, :onclick => "$(this).parents('form:first').submit()" %>
<%= check_box_tag 'registrations['+registration.seminar.id.to_s+']', '1', true, :id => "bar", :onclick => "$(this).parent().find('.confirm').show()" %>
<h1><%= link_to registration.seminar.title, '#' %></h1>
<p><strong><%= registration.seminar.start_at.strftime("%a %B %e, %Y at %l:%M %P") %> - <%=registration.seminar.end_at.strftime("%l:%M %P") %></strong><br/>
 <%= registration.seminar.description %>
</p>
<div class="confirm" style="clear: both; display:none; border: 1px solid #660000; background-color: #eecccc; margin: 20px 20px 20px 20px; padding: 20px; width: 75%; height: 75px; ">
<h2>Canceling a registration should be carefully considered.</h2>
<%= submit_tag "Cancel Registration", :style => "text-align: center;" %> | <a href="#" style="color: black;" onclick="document.getElementById('bar').checked=true; $(this).parent().hide()">Remain Registered</a>
</div>
</li>

<% end %>
<% end %>
</ul>


<% foo = Array.new %>
<% @registrations.each { |r| foo.append(r.seminar.id) } %>


<%= form_tag('/registrations', :method => :post, :id => "registrations") do %>
<ul style="clear: left;">
<li><strong>Available Seminars</strong></li>
<% @seminars.each do |seminar| %>

<% if not foo.include? seminar.id %>


<li class="seminar">
  <%= check_box_tag 'registrations['+seminar.id.to_s+']' %>
  <h1><%#= link_to seminar.title, seminar_path(  seminar ) %><%= link_to seminar.title, '#' %></h1>
  <p><strong><%= seminar.start_at.strftime("%a %B %e, %Y at %l:%M %P") %> - <%=seminar.end_at.strftime("%l:%M %P") %></strong><br/>
    <%= seminar.description %>
  </p>
</li>
<%# end %>
<% end %>
<% end %>
</ul>
<%# end %>
<ul style="clear: left;">
<li><strong>Expired Seminars</strong></li>
<% Seminar.expired.each do |seminar| %>

<li class="seminar">
<%= check_box_tag 'registrations['+seminar.id.to_s+']','',false, :disabled => true %>
<h1><%#= link_to seminar.title, seminar_path(  seminar ) %><%= link_to seminar.title, '#', :style => "color: #bbbbbb;" %></h1>
<p><strong><%= seminar.start_at.strftime("%a %B %e, %Y at %l:%M %P") %> - <%=seminar.end_at.strftime("%l:%M %P") %></strong><br/>
 <%= seminar.description %>
</p>
</li>
<% end %>
</ul>



<!--
<h1 style="position: relative; top: 72px; left: -180px; width: 100px; text-align: center; font-size: 18px; "><%= link_to( 'Submit', new_registration_path, :style => "color: inherit; text-decoration: none; " )%></h1>
-->


<%= submit_tag 'Register', :style => "clear: left; float: left; width: 100px; position: relative; top: 30px; text-align: center; font-size: 18px;" %>

<% end %>

</section>
