<h1 class="observations">Teaching Consultation Requirements</h1>
<div>
      <ul>
        <% @participant.observations.each do |a| %>
        <li class="observation">
          <h2><strong><%= best_in_place a, :observation_type_id, :display_as => :display_type, type: :select, :collection => ObservationType.all.collect {|a| [a.id, a.label]} %></strong></h2> <%= link_to "[x]", observation_url(a), :method => :delete, remote: true, confirm: "Really delete this?" %><br/>
          <%= best_in_place a, :course %>&nbsp;&nbsp;[ <%= best_in_place  a, :observed_on, type: :date, display_as: :display_observed_on %> ]
        </li>
        <% end %>
      </ul>

    <% if @participant.observations.size == 0 %>
      <p class="note">None.</p>
    <% end %>

    <div id="add-observation-form">
    <%= form_for @participant, remote: true do |f| %>
      <%= f.fields_for :observations, @participant.observations.build do |o| %>
      <h2>Consultation Type</h2><br/><div style="float: left;"><%= o.select( :observation_type_id, ObservationType.all.collect {|a| [a.label, a.id]}) %></div><br/>
      <h2>Course</h2><br/><div style="margin-left: 15px"><%= o.text_field( :course ) %></div><br/>
      <h2>Consultation Date</h2><br/> <div style="float: left;"><%= o.date_select( :observed_on ) %></div><br/>

      <% end %>
      <%= f.submit "Create" %>
    <% end %>
    </div>

    <div class="button_container add">
      <%= link_to "+ Teaching Consultation", '#', :id => "add-observation-link", :class => 'boxy' %>
    </div>

</div>


