<div class="panel panel-default">

  <div class="panel-heading">
    <h1 class="panel-title">Participant Information</h1>
  </div>
  
  <div class="panel-body">
    <%= image_tag "face.png" %>
  
    <h2>
      <strong><%= participant.name %></strong><br/>
      <%= participant.department %>
    </h2>

      <div class="button_container" style="margin-bottom: 20px;">
          Andrew ID: <%= participant.andrewid %><br/>
          Email: <%= participant.email %><br/>
          Student Class: <%= participant.student_class %>
      </div>
      
      
    <div class="button_container">
        <%= render "participants/programs/future_faculty/participant_information_links" %>

        <%= render "participants/programs/future_faculty/participant_graduation" %>
        
        <%= link_to( "Eberly Record »",
                    participant_transcript_url(:participant_id => participant.andrewid, :format => :pdf),
                    :class => 'boxy' ) %>

    </div>
    
  </div><!-- panel-body -->

</div><!-- panel -->
