<section id="participant">

  <%= render "participant", participant: @participant %>

    <%= render partial: "seminars", object: @participant.attended_seminars, locals: { title: "Seminars" } %>
    <% workshops_and_other = @participant.attended_workshops + @participant.attended_other %>
    <%= render partial: "seminars", object: workshops_and_other, locals: { title: "Workshops and Other Programming" } %>

  <%= render "participants/programs/future_faculty/participant_progress", participant: @participant %>

  <%= render "participants/activities/additional", participant: @participant %>

  <%= render "notes", participant: @participant %>

</section>
