<li>

<h1 class="title"><%= seminar.title %></h1>

<% if seminar.status == 'published' %>
  <div class="capacity">
    <%= link_to(
          content_tag( :div,
            content_tag( :span, '', :style => "width: " + seminar.capacity_percentage.to_s + "%" ), :class => "capacity-meter" ),
          admin_seminar_path( seminar ),
          :alt => "Manage Registrations" ) %>
  </div>
<% end %>

<p class="date details"><%= raw seminar.formatted_timespan %></p>
<p class="description details"><%= seminar.description %></p>

<p class="manage">
  <%= link_to "Edit", edit_admin_seminar_url(seminar), :class => 'boxy' %>

  <% if seminar.status == 'published' %>
    <%= link_to raw('<em>Unpublish</em>'), edit_admin_seminar_url(seminar), :class => 'boxy' %>

  <% else %>
    <%= link_to 'Publish', edit_admin_seminar_url(seminar), :class => 'boxy' %>

    <%= link_to "Delete", admin_seminar_path(:id => seminar.id), :method => :delete, :class => 'boxy', :confirm => "Really delete this seminar?" %>
  <% end %>
</p>

</li>
