<section class="seminar-group <%= @seminar.status %> admin">
  <h1><%= @seminar.title %></h1>

  <%= form_for @seminar, :url => update_whole_seminar_url, :html => { :class => "seminar_form"} do |f| %>

  <% if @seminar.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@seminar.errors.count, "error") %> prohibited
      this seminar from being saved:</h2>
    <ul>
      <% @seminar.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <%= f.hidden_field :id %>
  <%= f.label :title, 'Title' %>
  <%= f.text_field :title %>
<div style="float: left; clear: left;" >
  <%= f.label :start_at, 'Start At' %>
  <input type="text" class="timepicker" name="seminar[start_time]" id="seminar_start_at" value="<%= @seminar.start_at.strftime('%l:%M %p') %>"/> 
  <input type="text" id="start-datepicker" name="seminar[start_date]" value="<%= @seminar.start_at.strftime('%m/%d/%Y') %>">
</div>
<div style="float: left; clear: left;" >
  <%= f.label :end_at, 'End At' %>
  <input type="text" class="timepicker" id="seminar_end_at" name="seminar[end_time]" value="<%= @seminar.end_at.strftime('%l:%M %p') %>"/>  
  <input type="text" id="end-datepicker" name="seminar[end_date]" value="<%= @seminar.end_at.strftime('%m/%d/%Y') %>">
</div>
<div style="float: left; clear: left;" >
  <%= f.label :maximum_capacity, 'Maximum Capacity' %>
  <%= f.text_field :maximum_capacity, :value => "25" %>
</div>
    <%= f.label :location, 'Location' %>
    <%= f.text_field :location %>

    <%= f.label :description, 'Description' %>
    <%= f.text_area :description, :size => "55x12" %>

    <%= f.label :seminar_status_id, 'Seminar Status' %>
    <%= f.collection_select(:seminar_status_id, SeminarStatus.all, :id, :status) %>

    <%= f.submit "Save" %> | <%= link_to "Cancel", admin_seminars_url %>

<% end %>
</section>

<script>
  $(document).ready(function(){
    $('input.timepicker').timepicker({
        timeFormat: 'h:mm p',
        // year, month, day and seconds are not important
        minTime: new Date(0, 0, 0, 8, 0, 0),
        maxTime: new Date(0, 0, 0, 22, 0, 0),
        // time entries start being generated at 6AM but the plugin 
        // shows only those within the [minTime, maxTime] interval
        //startHour: 17,
        //startMinute: 30,
        // the value of the first item in the dropdown, when the input
        // field is empty. This overrides the startHour and startMinute 
        // options
        startTime: new Date(0, 0, 0, 17, 30, 0),
        // items in the dropdown are separated by at interval minutes
        interval: 30
    });
});
</script>

<script>
  $(function() {
  $( "#end-datepicker" ).datepicker({
  showOn: "button",
  buttonImage: "/assets/calendar-icon.png",
  buttonImageOnly: true
  });
  });

  $(function() {
  $( "#start-datepicker" ).datepicker({
  showOn: "button",
  buttonImage: "/assets/calendar-icon.png",
  buttonImageOnly: true
  });
  });
</script>
