<section class="seminar-group <%= @seminar.status %> admin">
  <h1><%= @seminar.title %></h1>

  <%#= render "participant_legend" %>

  <p class="date"><%= raw @seminar.formatted_timespan %></p>

  <p class="description"><%= raw @seminar.description %></p>
  <% if @seminar.status == 'published' %>
    <div id="population_details">
        <%= render partial: 'seminar_population_details' %>
    </div>
  <% end %>


  <% if !@seminar.expired? or @seminar.status == 'development'%>
  <p class="manage">
    <%= link_to "Edit", edit_admin_seminar_url(@seminar), :class => 'boxy' %>
    <% if @seminar.status == 'published' %>
      <%= link_to raw('<em>Unpublish</em>'), edit_admin_seminar_url(@seminar), :class => 'boxy' %>
    
    <% else %>
      <%= link_to 'Publish', edit_admin_seminar_url(@seminar), :class => 'boxy' %>
    <% end %>
    
    <%= link_to "Sign-In Sheet [pdf]", 
	admin_seminar_url(@seminar, :format => 'pdf', :profile => 'sign-in'), :class => 'boxy' %>
  </p>

  <h2 style="float: left; margin-bottom: -40px; clear: both; "> Registered Participants</h2>  
  <ul class="connected-sortable participants-list" id="registered-participants" style="clear: left;">
    <li class="cant-drag" id="add-participant"><%= link_to( image_tag( "face.png") + "+ Add Participant", new_admin_seminar_registration_path(@seminar), :remote => true ) %></li>
    <%= form_for [@seminar, @seminar.registrations.build], :url=> admin_seminar_path(@seminar), :html => {:class => "dropable", :id => 'registration_form'} do |f| %>
    
    <% @seminar.registrations.confirmed.each do |registration| %>
    <%#= f.fields_for :registrations, registration do |registration_form| %>
    <% css_classes = "participant"

       if registration.participant.student_class == "Masters"
         css_classes = css_classes + " masters"
       elsif registration.participant.student_class == "Doctoral"
         css_classes = css_classes + " phd"
       end
       
       if registration.seminar.expired?
         css_classes = css_classes + " attendance"
       end
    %>
    <%# end %>

    <li id="ids_<%=registration.id %>" class="<%= h css_classes %>" style="position: relative;">
      <% title = '' %>
      <% if registration.participant.name.length > 20
           title = registration.participant.name
         end
      %>
      <%= link_to( image_tag("face.png") + truncate(registration.participant.name, :length => 20), '', :title => title) %>

      <div class="attendance-form">
	<% AttendanceStatus.all.each do |status| %>
          <%= radio_button_tag( "attendance_status_#{registration.id.to_s}", status.id, registration.attendance_status_id == status.id ) %>
	  <%= label_tag "attendance_status_#{registration.id}_#{status.id}", status.label %>
        <% end %>
        <%= hidden_field_tag 'registration', registration.id %>
      </div>
    </li>
    <% end %>
  </ul>
  <h2 style="float: right; margin-bottom: -40px; "> Waitlisted Participants</h2>
  <ul class="connected-sortable participants-list" id="waitlisted_participants" style="float: right;">

    <% @seminar.registrations.pending.each do |registration| %>
    <%= f.fields_for :registrations, registration do |registration_form| %>
    <% css_classes = "participant"
       if registration.participant.student_class == "Masters"
         css_classes = css_classes + " masters"
       elsif registration.participant.student_class == "Doctoral"
         css_classes = css_classes + " phd"
       end
    %>
      <% title = '' %>
      <% if registration.participant.name.length > 20
           title = registration.participant.name
         end
      %>
    <li id= "ids_<%= registration.id %>" class="<%= h css_classes %>">     
      <%= link_to( image_tag("face.png") + truncate(registration.participant.name, :length => 20), '', :title => title ) %>
    </li>
    <% end %>
    <% end %>
  </ul>

  <h2 style="float: left; margin-bottom: -40px;clear:left;"> Cancelled Participants</h2>
  <ul class="participants-list" id="cancelled_participants" style="width: 62%; float: left; clear: left;">
    <% @seminar.registrations.cancelled_late.each do |registration| %>
        <% css_classes = "participant"
       if registration.participant.student_class == "Masters"
         css_classes = css_classes + " masters"
       elsif registration.participant.student_class == "Doctoral"
         css_classes = css_classes + " phd"
       end
    %>
    <% title = '' %>
      <% if registration.participant.name.length > 20
           title = registration.participant.name
         end
      %>
    <li id= "ids_<%= registration.id %>" class="<%= h css_classes %>">
      <%= link_to( image_tag("face.png") + truncate(registration.participant.name, :length => 20) + raw("<br/><div style=\"color: red; font-size: 80%; margin-top: -25px; margin-left: 70px;\">#{registration.updated_at.strftime('%m/%d/%y - %l:%M%P')}</div>"), '', :title => title ) %>
    </li>
    <% end %>

    <% @seminar.registrations.cancelled.each do |registration| %>
        <% css_classes = "participant"
       if registration.participant.student_class == "Masters"
         css_classes = css_classes + " masters"
       elsif registration.participant.student_class == "Doctoral"
         css_classes = css_classes + " phd"
       end
    %>
    <% title = '' %>
      <% if registration.participant.name.length > 20
           title = registration.participant.name
         end
      %>
    <li id= "ids_<%= registration.id %>" class="<%= h css_classes %>">
      <%= link_to( image_tag("face.png") + truncate(registration.participant.name, :length => 20) + raw("<br/><div style=\"font-size: 80%; margin-top: -25px; margin-left: 70px;\">#{registration.updated_at.strftime('%m/%d/%y - %l:%M%P')}</div>"), '', :title => title ) %>
    </li>
    <% end %>
  </ul>
  <%# f.submit "Update", :class => 'button' %>
  <% end %>

  <% else %>


  <button id="at_filter" class="at-btn">Attendance</button>
  <button id="mark_all" class="at-btn">Mark All Present</button>
  <button id="unmark_all" class="at-btn">Unmark All</button>
  
  <table style="width:100%">
      <tr style="color: #fff; background: #000;">
          <th class="p_select"><%= check_box_tag("all_participants") %></th>
          <th>Name</th>
          <th>Attendance</th>
      </tr>
      <tr><td colspan="3" id="add-participant2"><%= link_to( image_tag( "face.png") + "+ Add Participant", new_admin_seminar_registration_path(@seminar), :remote => true ) %></td></tr>
      <% @seminar.registrations.confirmed.each do |registration| %>

          <tr>
              <td class="p_select"><%= check_box_tag("select_#{registration.participant.andrewid}", "", false, class: 'participant') %></td>
              <td><%= registration.participant.name %> (<%= registration.participant.andrewid %>)</td>
              <td class="attendance" data-icon="fa-ban">
                  <i class="fas fa-2x fa-ban"></i>
              </td>
          </tr>
  <% end%>
  </table>
  
</section>

 <script>
$(function() {
$( '.participants-list' ).tooltip();
});
</script>

<!--
  <script>
    $('#registered-participants form li').sortElements(function(a, b){
    var stuff = new String($(a).text());
    return $(a).text().split(' ')[1] > $(b).text().split(' ')[1] ? 1 : -1;
    });
  </script>
-->
<% end %>
