
<section class="dialog" id="registrations" style="width: 700px;">

<h1 style="width: 687px;">F12 Teaching Seminars</h1>



<ul style="margin-left: 20px;">
<% @seminars.each do |seminar| %>

<li class="seminar">

  <h1><%#= link_to seminar.title, seminar_path(  seminar ) %><%= link_to seminar.title, '#' %></h1>
  <p><strong><%= seminar.start_at.strftime("%a %B %e, %Y at %l:%M %P") %> - <%=seminar.end_at.strftime("%l:%M %P") %></strong><br/>
    <%= seminar.description %>
  </p>
</li>

<% end %>
</ul>

<ul style="clear: left; margin-left: 20px; margin-top: 30px;">
<li><strong>Expired Seminars</strong></li>
<% Seminar.expired.each do |seminar| %>

<li class="seminar">

<h1><%#= link_to seminar.title, seminar_path(  seminar ) %><%= link_to seminar.title, '#', :style => "color: #bbbbbb;" %></h1>
<p><strong><%= seminar.start_at.strftime("%a %B %e, %Y at %l:%M %P") %> - <%=seminar.end_at.strftime("%l:%M %P") %></strong><br/>
 <%= seminar.description %>
</p>
</li>
<% end %>
</ul>



</section>
