<table id="participants-spreadsheet">

<tr>
  <th class="sortable">Name</th>
  <th class="sortable">Andrew ID</th>
  <th class="sortable">Department</th>
  <th class="sortable">Class Level</th>
  <th class="sortable">Registrations</th>
</tr>

<% @participants.each do |p| %>
<tr class="<%= cycle('oddrow', 'evenrow') %>"> ...... </tr>
  <td><%= p.name %></td>
  <td><%= p.andrewid %></td>
  <td><%= sanitize [p.department].join(',<br/>'), :tags => %w(br) %></td>
  <td><%= p.student_class %></td>
  <td>
    <%= link_to p.registrations.size, '#' %>
    <div class="reg" style="display: none">
      <% p.registrations.each do |r| %>
      <%= r.seminar.title %> (<%= r.status %>)<br/>
      <% end %>
    </div>
  </td>
</tr>
<% end %>
</table>

<script>
 $('td a').bind('click', function() {$(this).parent('td').children('div').slideToggle() });
</script>
 
