<div id="navigation">
<nav id="utility-nav">
  <h1>Welcome!</h1>
  <ul>
    <% if authenticated? %>
      <li class="name"><%= current_user.name %></li>
      <li class="logout"><%= link_to "Logout", logout_url %></li>
    
    <% else %>
      <% content_for( :sidebar_note, content_tag(:p, "* Counts as a core seminar toward the Documentation of Teaching Development Program.", :class => 'sidebar-note' )) %>
      <li class="login"><%= link_to content_tag(:span, 'Login', :class => 'capitalize') + ' to sign up', login_url %></li>

    <% end %>
  </ul>
</nav>

<% if administrator? %>
  <nav id="admin-nav">

    <ul class="primary-add">
      <li><%= link_to "Create New Seminar", new_admin_seminar_url %></li>
    </ul>
	  
    <ul>  
      <li><%= link_to "Seminars > all", admin_seminars_url %></li>
      <li><%= link_to "Seminars > published", admin_seminars_url( :status => 'published' ) %></li>
      <li><%= link_to "Seminars > drafts", admin_seminars_url( :status => 'drafts' ) %></li>

      <li><%= link_to "List details > seminars", admin_spreadsheet_url( :id => 'seminars' ) %></li>
      <li><%= link_to "List details > people", admin_spreadsheet_url( :id => 'participants') %></li>
    </ul>
  </nav>

<% elsif authenticated? %>
  <nav id="site-nav">
    <ul>
      <li class="primary"><%= link_to "Teaching Seminars Listing", registrations_url %></li>
      <li class="primary">
	<%= link_to "Download your schedule [.ics]", registrations_path( :format => :ics ) %>
	<%= image_tag "calendar-icon.png", :alt => "Calendar" %>
      </li>

      <li><%= link_to "Future Faculty Program", "http://www.cmu.edu/teaching/graduatestudentsupport/documentationofteaching.html" %></li>
      <li><%= link_to "My Eberly Transcript", portfolio_url %></li>
    </ul>
  </nav>

<% end %>
</div>
