<!DOCTYPE html>
<html>
<head>
  <title><%= document_title %></title>

  <%= stylesheet_link_tag 'application', :media => "all" %>
  
  <% if content_for :stylesheets %>
    <%= yield :stylesheets %>
  <% end %>

  <%= javascript_include_tag 'application' %>
  <%= render partial: 'layouts/analytics' %>

  <%= csrf_meta_tags %>
</head>
<body>
  <script type="text/javascript">
  var default_filter="<%= @display_tag %>";
  </script>

  <%#= render :partial => "layouts/impersonate_user" %>

  <div id="cmu-bar-container">
    <div id="cmu-bar">
      <%= link_to( image_tag( 'carnegie-mellon-wordmark.gif', 
                   :alt => 'Carnegie Mellon Wordmark'),
                   'http://www.cmu.edu' )
      %>
    </div>
  </div>

  <%= render partial: 'layouts/page_header' %>

  <%# TODO: raw is cludgy and requires no direct user input to go in the flash.
      Let's whitelist some reasonable tags instead %>
  <% if flash[:error] %><div class="flash error"><p><%= raw flash[:error] %></p></div><% end %>
  <% if flash[:notice] %><div class="flash notice"><p><%= raw flash[:notice] %></p></div><% end %>
  <% if flash[:success] %><div class="flash success"><p><%= raw flash[:success] %></p></div><% end %>

  <div class="left sidebar">
    <%= render "layouts/utility_nav" %>
    
    <%= sidebar_note %>
  </div>
  
  <section id="content" role="main">

    <%= yield %>
  </section>

  <%= render partial: 'layouts/page_footer' %>

</body>
</html>
